*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  
    
    
}
.container{
    background-color: aquamarine;
  /*  height: 250px; */
    display: reletive;
    width: 80%;
    min-height: 50%;
    margin-top: 20px;
    border-radius: 5px;
   
   
}
#joke{
    
 /*   height: 60%; */
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 20px;

}
#btn_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    
    padding: 5px;
    width: 100px;
    background-color: rgb(231, 168, 10);
    border: none;
    border-radius: 5px;
cursor: pointer;
}
button:active{
    background-color: rgb(234, 179, 43);
}
